{% extends "shop/base.html" %}

{% load static %}

{% block title %}
 shopping cart
{% endblock %}

{% block content %}
 <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <main class="">
    <div class="main-wrapper">
    <div class="detail-wrapper">

         <h1>Mon Panier</h1>
        <table>
            <thead>
            <tr>
                <th></th>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Retirer</th>
                <th>Prix Unitaire</th>
                <th>Prix</th>
            </tr>
            </thead>
            <tbody>
            {% for item in cart %}
                {% with product=item.product %}
            <tr>
                <th>
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{% if product.image %}{{ product.smart.url }}
                        {% else %}{% static 'img/no_image.png' %}{% endif %}" width="360" alt="Product image">
                    </a>
                </th>

                <td>{{ product.name }}</td>
                 <td>
                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                        {{ item.update_quantity_form.quantity }}
                        {{ item.update_quantity_form.update }}
                        <input type="submit" value="Changer">
                        {% csrf_token %}
                    </form>
                </td>
                <td>
                    <a href="{% url 'cart:cart_remove' product.id %}"> <i class="fa fa-times" aria-hidden="true"></i>
                    Retirer du Panier</a>
                </td>
                <td class="num">{{ item.price }} €</td>
                <td class="num">{{ item.total_price }} €</td>
            </tr>
            {% endwith %}
            {% endfor %}

            </tbody>
            <tfoot>
              <tr class="total">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="num">Total: {{ cart.get_total_price}} €</td>
            </tr>
            </tfoot>
        </table>
        <p class="text-right">
            <a href="{% url 'shop:product_list' %}" class="button light">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i> Continuer mes Achats </a>
              {% if cart|length > 0 %}
            <a href="{% url 'orders:order_create' %}">
                  <i class="fa fa-check" aria-hidden="true"></i> Valider mon panier  </a>
                 {% else %}
                <a href="#" class="empty-cart">
                    <i class="fa fa-times" aria-hidden="true"></i> Panier vide  </a>
                 {% endif %}

        </p>
    </div>
    </div>
</main>
{% endblock %}