{% extends "shop/base.html" %}

{% load static %}

{% block content %}
<link href="{% static 'css/base.css' %}" rel="stylesheet">

<div id="carousel-example-1z" class="carousel slide carousel-fade mt-5" data-ride="carousel"
     xmlns:shop="http://www.w3.org/1999/xhtml">

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-1z" data-slide-to="1"></li>
      <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">
        <div class="view" style="background-image: url('../static/img/cover.jpg');
        background-repeat: no-repeat; background-size: cover;
        background-position: center;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>L' ATELIER CHENOA</strong>
              </h1>

                <h2>Fabrication artisanale de plein de trucs</h2>

              <p class="mb-4 d-none d-md-block">
                <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequatur dolorum ex
                  <br> explicabo incidunt ipsa molestiae quidem similique vero voluptates!</strong>
              </p>

            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/First slide-->

      <!--Second slide-->
      <div class="carousel-item">
        <div class="view" style="background-image: url('../static/img/cover2.jpg'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>L' ATELIER CHENOA</strong>
              </h1>

                <h2>Fabrication artisanale de plein de trucs</h2>

              <p class="mb-4 d-none d-md-block">
                <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequatur dolorum ex
                  <br> explicabo incidunt ipsa molestiae quidem similique vero voluptates!</strong>
              </p>

            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/Second slide-->

      <!--Third slide-->
      <div class="carousel-item">
        <div class="view" style="background-image: url('../static/img/cover3.jpg'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>L' ATELIER CHENOA</strong>
              </h1>

                <h2>Fabrication artisanale de plein de trucs</h2>

              <p class="mb-4 d-none d-md-block">
                <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequatur dolorum ex
                  <br>explicabo incidunt ipsa molestiae quidem similique vero voluptates! </strong>
              </p>

            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/Third slide-->

    </div>
    <!--/.Slides-->

    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->

  </div>
  <!--/.Carousel Wrapper-->

  <!--Main layout-->
  <main>
    <div class="main-wrapper">
    <div class="container">

      <!--  PRODUCT LIST  -->
      <nav class="navbar navbar-expand-lg navbar-dark products-list-wrapper mt-4 mb-4">

        <!-- Navbar brand -->
        <span class="navbar-brand">Produits :</span>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse products-list navbar-collapse" id="basicExampleNav">

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active" {% if not category %}class="selected"{% endif %}>
              <a class="nav-link" href="{% url 'shop:product_list' %}">Tous
                <span class="sr-only">(current) </span>
              </a>
            </li>
              {% for c in categories %}
            <li {% if category.slug == c.slug %}class="selected active" class="nav-item"
                {% endif %}>
              <a class="nav-link" href='{{ c.get_absolute_url }}'>{{ c.name }} </a>
            </li>
              {% endfor %}

          </ul>
          <!-- Links -->

<!--          <form class="form-inline">-->
<!--            <div class="md-form my-0">-->
<!--              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
<!--            </div>-->
<!--          </form>-->
        </div>
        <!-- Collapsible content -->

      </nav>
      <!--/.Navbar-->

<!--      ////////////////-->
      <!-- PRODUCT LIST -->
      <section class="text-center mb-4">
        <!--Grid row-->
        <div class="row wow fadeIn">
          <!--Grid column-->
            {% for product in productspag %}
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                <img src="{% if product.image %}{{ product.smart.url }}{% else %}
                {% static 'img/no_image.png' %}
                {% endif %}" class="card-img-top"
                  alt="">
                <a href="{{ product.get_absolute_url }}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                <a href="{{ product.get_absolute_url }}"  class="grey-text">
                  <h5>{{ product.category }}</h5>
                </a>
                <h5>
                  <strong>
                    <a href="{{ product.get_absolute_url }}" class="dark-grey-text">{{ product.name }}
<!--                      <span class="badge badge-pill danger-color">NEW </span>-->
                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold price">
                  <strong>{{ product.price }} €</strong> <br>
                </h4>

              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
            {% endfor %}
          <!--Grid column-->
        </div>

          <!--Grid row-->

      </section>
      <!--Section: Products v.3-->

      <!--Pagination-->
      <nav class="d-flex justify-content-center wow fadeIn pagination-wrapper">
        <ul class="pagination">

          {% if productspag.has_previous %}
          <!--Arrow left-->
          <li class="page-item">
            <a class="page-link" href="?page={{ productspag.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% endif %}

          {% for num in productspag.paginator.page_range %}
            {% if productspag.number == num %}

          <li class="page-item active">
            <strong>  <a class="page-link" href="?page={{ num }}"> {{ num }}
              </a>
            </strong>
          </li>

             {% else %}

                <li class="page-item ">
                  <a class="page-link" href="?page={{ num }}"> {{ num }} </a>
                </li>

            {% endif %}
           {% endfor %}

            {% if productspag.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ productspag.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      <!--Pagination-->

    </div>
      </div>
  </main>

{% endblock %}