{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    checkout
{% endblock %}

{% block content %}
<link href="{% static 'css/base.css' %}" rel="stylesheet">

   <main class="">
        <div class="main-wrapper">
             <div class="container order-form-wrapper">
                <div class="order-info">
                    <h1>Votre commande</h1>
                    <ul>
                        {% for item in cart %}
                        <li>{{ item.quantity }} x {{ item.product.name }} :
                            <span>{{ item.total_price }} €</span>
                        </li>
                        {% endfor %}
                    </ul>
                    <p id="total">Total : {{ cart.get_total_price }} €</p>
                </div>

                <form action="." method="post" class="order-form">
                    {{ form }}
                    <input type="submit" value="Valider ma Commande" class="validate-order">
                    {% csrf_token %}
                </form>
            </div>
        </div>
   </main>
{% endblock %}
