{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    checkout
{% endblock %}

{% block content %}
<link href="{% static 'css/base.css' %}" rel="stylesheet">

   <main class="">
        <div class="main-wrapper">
             <div class="container order-form-wrapper">
                <div class="order-info">
                    <h1>Votre commande</h1>
                    <ul>
                        {% for item in cart %}
                        <li>{{ item.quantity }} x {{ item.product.name }} :
                            <span>{{ item.total_price }} €</span>
                        </li>
                        {% endfor %}
                    </ul>
                    <p id="total">Total : {{ cart.get_total_price }} €</p>
                </div>

                <form action="." method="post" class="order-form">
                    {{ form }}
                    <div class="btns">
                        <button type="" class="back form-btn">
                            <a href="{% url 'cart:cart_detail' %}">
                         <i class="fa fa-arrow-left" aria-hidden="true"></i> Mon panier </a> </button>
                        <button type="submit" class="validate-order form-btn">
                            <i class="fa fa-check" aria-hidden="true"></i> Valider ma commande
                        </button>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>
   </main>
{% endblock %}
