{% extends "shop/base.html" %}
{% load static %}
{% load mathfilters %}

{% block title %}
    checkout
{% endblock %}

{% block content %}
<link href="{% static 'css/base.css' %}" rel="stylesheet">

   <main class="">
        <div class="main-wrapper">
             <div class="container order-form-wrapper">
                <div class="order-info">
                    <h1>Votre commande</h1>
                    <ul>
                        {% for item in cart %}
                        <li>{{ item.quantity }} x {{ item.product.name }} :
                            <span>{{ item.total_price }} €</span>
                        </li>
                        {% endfor %}
                    </ul>
                    <p id="total">Total : {{ cart.get_total_price }} €</p>
                </div>

                <form action="." method="post" class="order-form">
                    {{ form }}
                    <div class="btns">
                        <button type="" class="back form-btn">
                            <a href="{% url 'cart:cart_detail' %}">
                         <i class="fa fa-arrow-left" aria-hidden="true"></i> Mon panier </a> </button>
                        <button type="submit" class="validate-order form-btn stripe-button">
                            <i class="fa fa-check" aria-hidden="true"></i> Valider ma commande
                        </button>
                    </div>
                    {% csrf_token %}

                     <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                             data-key="{{ key }}"
                             data-description="Règlement par CB"
                             data-amount="{{ cart.get_total_price|mul:100 }}"
                             data-locale="auto"
                             data-currency="EUR"
                     >
                     </script>
                </form>


<!--                 <style type="text/css">-->
<!--                     input[type=date], input[type=datetime-locale], input[type=email], input[type=password],-->
<!--                     textarea.materialize{-->
<!--                     height: 2em !important;}-->
<!--                 </style>-->
                 <style type="text/css">
                     .stripe-button-el {display:none};
                 </style>
            </div>
        </div>
   </main>
{% endblock %}
