{% extends "shop/base.html" %}


{% block title %}
    Thank you
{% endblock %}

{% block content %}
<div class="thanks-wrapper">
    <div class="thanks">
        <h1>Merci de votre achat <i class="fa fa-check-circle check" aria-hidden="true"></i></h1>
        <p>Votre commande a bien été enregistrée, <br>
            Vos produits vous seront envoyés dans les plus brefs délais. <br><br>
            <span>Le numéro de votre commande est :   <strong>{{ order.id }}</strong></span> <br>
        </p>
        <div class="signature">
            <p class="signature">L'atelier chenoa </p>
            <img src="../../static/img/pink-logo.png" width="80" alt="Site Logo">
        </div>
    </div>

</div>
{% endblock %}

