{% load static %}

{% block content %}
         <div class="">
            <h3>Nouvelle commande </h3>
            <span>Numéro de commande :  <strong>{{ order.id }}</strong></span> <br>
            <ul>
                {% for item in cart %}
                <li>{{ item.quantity }} x {{ item.product.name }}, (numero : {{ item.product.id }})
                    <span>{{ item.total_price }} €</span>
                </li>
                {% endfor %}
            </ul>
            <p id="total">Total : {{ cart.get_total_price }} €</p>
        </div>
        <div class="">
                <h3>Client: </h3>
                <ul>
                    <li>M, Mme:<strong> {{ first_name }} {{ last_name}}</strong></li>
                    <li>Adresse:<strong> {{ address }}</strong></li>
                    <li>&nbsp;<strong> {{ postal_code }}</strong></li>
                    <li>&nbsp;<strong> {{ city }}</strong></li>
                    <li><strong>Email: {{ email }}</strong></li>
                </ul>
        </div>
{% endblock %}