body{

}
h1{
color: #D8BFD8;
}
.carousel-item{
}
.order-info{
    background-color: #eee;
    margin-top:120px;
}
.order-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eee;
    padding:40px;
}

main{
    margin-top: -15px;
    padding-top: 15px;
}
.products-list-wrapper{
    background-color: #D8BFD8;
    color: #333;
    padding-top: 10px;
}
.products-list-wrapper>span{
    color: #333 !important;

}
.products-list>ul>li>a{
    text-transform: uppercase;
    color: #333 !important;
    margin-top:4px;
}
.products-list>ul>li>a:hover{
    background-color: #D8BFE5;
}

/* cart detail*/
.detail-wrapper{
    width: 70%;
    margin: 140px auto;
    box-shadow: 2px 2px 4px #ddd, -2px -2px 4px #ddd;
    padding: 20px;
}
table{
    width: 100%;
}
table>thead{
    background-color: #eee;
    mt4
}
table>tbody>tr{
width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ccc;
    margin: 2px;
}

.text-right>a{
    padding: 2px 10px;
    border-radius: 4px;
    margin: 6px;
}
.text-right>a:first-child{
    background-color: #ccc;
}
.text-right>a:last-child{
    background-color: lightgreen;
}