body{
   background-color: rgba(0,0,0,0.8);
}

@font-face {
  font-family: 'Kathen';
  src: local('Kathen'),
       url('../../static/font/kathen/Kathen.otf') format("opentype");
}

/* TOAST FOR SESSION */
.message{
     z-index:999;
     top:120px;
     right: 40px;
     position:absolute;
}
.message>.toast{
    border-radius:16px;
}

/* top nav-bar */
nav{
 /*background-color: #966a72;*/
 /*background-color: #DAE4B4;*/
 background-color: #333;
 /*background-color: #877884;*/
 font-size: 1.1rem;
}
nav>.container>.collapse>ul>li>a{
    color: #d6bfd1;
    /*color: #dae4b4;*/
}
nav>.container>.collapse>ul>li>a:hover{
    /*color: rgb(33, 150, 243);*/
    /*color: #d6bfd1;*/
    color: #b9c197;
}
nav>.navbar-brand{
    color: #b9c197 !important;
}
.nav-item>a>i{
    margin-top:10px;
}


/* home body */
main{
    margin-top: -15px;
    background: url('../../static/img/chenoaback.jpg') no-repeat;
    background-size: cover;
}
main>.main-wrapper{
    background-color: rgba(255,255,255,.9);
    /*background-color: rgba(215,158,154,.85);*/
    /*background-color: rgba(218, 228, 180, .9);*/
    padding-top:15px;
    margin-top: -2px;
}

/* product list nav*/
.products-list-wrapper, .pagination-wrapper{
    /*background-color: #877884;*/
    /*background-color: #966a72;*/
    background-color: #333;
    padding-top: 10px;
}


.products-list>ul>li>a{
    text-transform: uppercase;
    margin-top:4px;
    font-size: .94rem;
    color: #dae4b4 !important;
}

.products-list>ul>li>a:hover{
    background-color: rgba(255,255,255, .1);
}



/* PRODUCT LIST CARD*/

.card{
    transition: all .8s ease;
}
.card:hover{
    box-shadow: 3px 3px 18px #bbb, -3px -3px 18px #bbb;
    transform: scale(1.04);
}
.card-body>.price{
    /*color: #887884;*/
    color: #966a72;
       /*color: #b9c197;*/
}

/* product list pagination */
.pagination>li>a{
    color: #fff !important;
}
.pagination>li>a:hov{
    color: #333 !important;
}
.pagination>li>.page-link:selected{
}


/* PRODUCT DETAIL*/
.product-detail>.container>h1{
    color: #966a72;
}
.badge-categ{
    background-color: #966a72;
}
.add-to-cart{
    background-color: #00b200;
    color: #fff;
    text-transform: uppercase;
    width: 200px;
}

/* CART DETAIL*/

.detail-wrapper{
    width: 70%;
    margin: 140px auto 0 auto;
    padding: 20px;
}
.detail-wrapper>h1{
    color: #966a72;
}
/* TABLE */
table{
    width: 100%;
}
table>thead{
     background-color: rgba(218, 228, 180, .7);
}
/* TABLE HEAD */
table>thead>tr>th{
    padding: 16px;
    text-align:center;
    border-bottom: solid 1px #ccc;
    font-size: 1.2rem;
}
th:nth-child(even){
   background-color: rgba(218, 228, 180, .6);
}

table>thead>tr>th:first-child{
    width:350px;
}

table>tbody{
    padding 10px;
}

/* cells */
table>tbody>tr{
    background-color: rgba(218, 228, 180, .7);
    text-align:center;
    border-bottom: solid 1px #ccc;
}
tbody>tr>th>a>img:hover{
       transform: scale(1.007);
       transition: .5s;
       box-shadow: 4px 4px 8px #666, -4px -4px 8px #666;
    }
table>tbody>tr>td:nth-child(even){
     background-color: rgba(218, 228, 180, .6);
}
table>tbody>tr>td{
    font-size: 1.13rem;
}
.quantity{
    font-size: 1.2rem;
}
/* responsive for table*/
@media screen and (max-width: 940px) {
    .detail-wrapper{
        width: 60%;
    }
        table>thead{
        display: none;
    }
    table>tbody>tr{
         display:flex;
        width:100%;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items:center;
    }
    table>tbody>tr>td{
        margin:10px auto 24px auto;
    }

    table>tfoot>tr>td:not(:last-child){
        display:none;
    }

    table>tfoot>tr>td:last-child{
        border: solid;
        text-align:center;
    }

}

@media screen and (max-width: 620px) {
   .detail-wrapper{
        width: 94%;
    }

}
@media screen and (max-width: 440px) {
   tbody>tr>th>a>img{
        width: 300px;
    }
}

/* table foot*/

table>tfoot>tr{
    width:100%;
}
table>tfoot>tr>td{
    background-color: #333;
    padding: 16px;
    color: #fff;
    font-weight: bold;
}

/* links bottom  KEEP SHOPPING  VALIDATE CART*/

.text-right{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.text-right>a{
    padding: 6px 16px;
    border-radius: 4px;
    margin: 6px;
    color: #fff;
    font-weight: 400;
}
.text-right>a:first-child{
    background-color: #1874CD;
}
.text-right>a:last-child{
    background-color: #00b200;
}
.text-right>.empty-cart{
    opacity: .68;
}
.text-right>.empty-cart:hover{
    opacity: .68;
}
.text-right>a:hover{
    opacity: .84;
}

/* FOOTER */
footer{
     background: url('../../static/img/chenoa2.jpg') no-repeat center;
     background-size: cover;
}
.footer-wrapper{
     background-color: rgba(0,0,0,.7);
      display: flex;
     flex-direction:column;
     justify-content: space-between;
}
.footer-wrapper>.about{
    margin-top: 60px;
    font-size: 1.1rem;
}
.footer-wrapper>.social-links{
    font-size: 1.4rem;
}
.footer-wrapper>.social-links>a:hover{
    color: rgb(33, 150, 243);
}
.footer-copyright{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
     font-size: 0.9rem;
}
.footer-copyright>a{
    width: 200px;
    text-align:left;
    padding:0 10px;
}
.footer-copyright>a:hover{
    color: rgb(33, 150, 243);
}
@media screen and (max-width: 520px) {
  .footer-wrapper>.about{
    font-size: 1.1rem;
    margin-top: 10px;
  }

}

/* create command */
.order-info{
    margin-top:120px;
    padding: 20px;
    border-bottom: solid 1px #ccc;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#total{
    border: solid 1px #333;
    padding: 6px 14px;
}
.order-info>h1{
    color: #333;
}
.order-form-wrapper{
    background-color: rgba(218,228,180, .7);
}
.order-form{
    padding:40px 28%;
    width: 100%;
    margin:auto;
    display:flex;
    flex-direction: column;
}

@media screen and (max-width: 990px) {
    .order-form{
        padding:40px 60px;
    }
}
@media screen and (max-width: 440px) {
    .order-form{
        padding:40px 20px;
    }
}

.order-form>label{
    width:120px;
    margin-top: 16px ;
}
.order-form>input{
    height:42px;
    border-radius: 4px;
    width: 100%;
    margin:auto;
}

.order-form>.btns{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    flex-wrap: wrap-reverse;
    width: 100%;
}
.form-btn{
    border: none;
    padding: 8px;
    color: #fff;
    margin-top: 10px;
    width: 200px;
    font-weight: 400;
}

.order-form>.btns>.validate-order{
    background-color: #00b200;
}
.order-form>.btns>.back{
    background-color: #1874CD;
}
.order-form>.btns>.back>a{
    color: #fff;
}
.form-btn:hover{
    opacity: .84;
}

/* CREATED -- THANK YOU */
.thanks-wrapper{
    margin:100px auto;
    width: 74%;
    background: url('../../static/img/background.jpg') no-repeat;
    background-size: cover;
}
.thanks{
    padding: 80px 40px;
    background-color: rgba(0,0,0,.82);
    height: 80vh;
    color: #fff;
    text-align: center;
}
.thanks>h1{
    font-family: 'Roboto';
    letter-spacing:5px;
}

.thanks>p{
    font-size: 1.4rem;
    width: 88%;
    margin: 40px auto;
}
.thanks>p>span{
    font-size: 1.3rem;
}
.check{
    font-size: 2.6rem;
    margin-top: 120px;
    color: #00b200;
}
.thanks>.signature{
    display:flex;
    justify-content: flex-end;
    align-items:center;
    margin-top: 30px;
}
.thanks>.signature>p{
    font-family: 'Kathen';
    font-size: 2rem;
    color: rgb(214, 191, 209);
    margin-right: 30px;
}

/* ABOUT */
.about-wrapper{
   background-color: rgb(218,228,180);
   width: 74%;
   margin: auto;
}
.about{
    margin: 80px auto;
    width: 80%;
    padding: 40px 0;
}
.about>h1{
        color: #333;
}
.about>p{
     margin: 40px 0;
}
.about>p>span{
     font-size: 4rem;
     border: solid;
     line-height: -2;
     padding-bottom: -40px;
}
.about>img{
    width: 100%;
    box-shadow: 2px 2px 14px #ccc, -2px -2px 14px #ccc;
}

.legals-wrapper{
    padding:120px 30px 40px 30px;
    width: 85%;
    margin: auto;
    background-color: #e4eeee;
}