body{

}
h1{
color: #D8BFD8;
}
.carousel-item{
}
.order-info{
    background-color: #eee;
    margin-top:120px;
}
.order-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eee;
    padding:40px;
}

main{
    margin-top: -15px;
    padding-top: 15px;
}
.products-list-wrapper{
    background-color: #D8BFD8;
    color: #333;
    padding-top: 10px;
}
.products-list-wrapper>span{
    color: #333 !important;

}
.products-list>ul>li>a{
    text-transform: uppercase;
    color: #333 !important;
    margin-top:4px;
}
.products-list>ul>li>a:hover{
    background-color: #D8BFE5;
}


