{% extends "shop/base.html" %}


{% block title %}
    About
{% endblock %}

{% block content %}
<div class="about-wrapper">
    <div class="about">
        <h1>A propos</h1>
        <p> Animée par la créativité, c'est au travers de l'Atelier Chenoa
            que Morgane nous fait découvrir son univers. Toujours dans des tons
            sombres et privilégiant les matières naturelles,
            les créations de l'Atelier Chenoa sont toutes "fait main",
            avec amour et remplies d'énergie positive !
        </p>
        <img src="../../static/img/about_momo.jpg" alt="person picture" width="1200">
    </div>
</div>
{% endblock %}