{% extends "shop/base.html" %}


{% block title %}
    About
{% endblock %}

{% block content %}
<div class="about-wrapper">
    <div class="about">
        <h1 class='page-title' >L' histoire de l'Atelier Chenoa</h1>
        
         <p>Animée par la créativité, c'est au travers de l'Atelier Chenoa que Morgane nous fait découvrir son univers. <br>
            Pour Morgane créer est un réel plaisir et l'envie de partager autour de ses créations l'a poussée à monter son entreprise en Aout 2017. <br>
                Etabli au coeur des campagnes du sud de la France, à Mende en Lozère, l'Atelier Chenoa reste fidèle à sa politique qui vise le respect de l'environnement et du bien-être animal, les matières naturelles et recyclées sont privilégiées et les plumes utilisées sont toutes issues de mues naturelles. <br>
                    Crochet, macramé, tissage, toutes ces techniques sont révélées à travers ses attrape-rêves, bijoux fantaisie, suspensions, paniers...<br>
                        Toujours dans un esprit bohème, toutes les créations de l'Atelier Chenoa sont "fait main", avec amour et remplies d'énergie positive ! <br>
                    Bonne visite !
        </p>
        <img src="../../static/img/about_momo.jpg" alt="person picture" width="1200">
    </div>
</div>
{% endblock %}