{% extends "shop/base.html" %}


{% block title %}
    About
{% endblock %}

{% block content %}
<div class="about-wrapper">
    <div class="about">
        <h1>A propos</h1>
        <p> Morgane est une jeune lozérienne dynamique, passionnée, de tricot et de recherche de trèfles à 4 feuilles. <br>
            Après une longue carrière fructueuse de metteuse de mains dans le ventre des chiens,<br>
            elle décide finalement de se lancer dans la revente d'attrapes rêves fabriqués en Chine <br>
            afin de relancer le commerce triangulaire et l'exploitation infantile!!
        </p>
        <img src="../../static/img/about_momo.jpg" alt="person picture" width="1200">
    </div>
</div>
{% endblock %}