<!DOCTYPE html>
{% load static %}
<html lang="fr">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110358642-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-110358642-2');
    </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
   <meta name="description" content="Fabrication artisanale d' attrapes-rêves, de bijoux fantaisie et d'objets de décoration, artisanat en Lozère, Occitanie">
   
  <meta name="keywords" content="atelier chenoa, l'atelier chenoa, chenoa, latelier chenoa, attrape-rêve,fabriquant d'attrape reves, attrape-rêves, artisanat, artisanat lozère, fabrication artisanale, décoration, lozère, mende, languedoc-roussillon, occitanie, bijoux, bijoux créoles, paniers, art, maccramé, attrape reves" >
   
  <title>L'Atelier Chenoa</title>
  <link href="https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap" rel="stylesheet">
  <link rel="icon" href="{% static 'img/logo_icon.ico' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Gotu&family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">


  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
  <!-- Your custom styles (optional) -->
<!--  <link href="{% static 'css/style.min.css' %}" rel="stylesheet">-->
  <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
  <link href="{% static 'css/base.css' %}" rel="stylesheet">

<!--  </style>-->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg  scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="{% url 'shop:product_list' %}" title="Accueil, Liste des Produits">
        <img src="../../static/img/logo_white.png" width="80" alt="Site Logo" class="site-logo">
        <span class="site-title">L'Atelier Chenoa</span>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="{% url 'shop:product_list' %}" title="Accueil, Liste des Produits">Accueil
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'shop:about' %}" target="_new" title="A propos de l'Atelier Chenoa" >A propos</a>
          </li>
           <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'shop:contact' %}" target="_new" title="Contact" >Contact</a>
          </li>

        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'cart:cart_detail' %}" title="Mon pannier">
              <span class="badge red z-depth-1 mr-1">
              {% with total_items=cart|length %}
                  {% if cart|length > 0 %}
                   {{ total_items }}
                  {% else %} 0 {% endif %}
                {% endwith %}
              </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Mon Panier </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://www.facebook.com/latelierchenoa"
               class="nav-link waves-effect" target="_new" title="Facebook L'atelier Chenoa">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://www.instagram.com/latelierchenoa/"
               class="nav-link waves-effect" target="_new" title="Instagram L'atelier Chenoa">
              <i class="fab fa-instagram"></i>
            </a>
          </li>

        </ul>

      </div>

    </div>
  </nav>
  <!-- End Navbar -->

<!--  toast session -->
<!--      {% if messages %}-->
<!--                {% for message in messages %}-->
<!--  <div aria-live="polite" aria-atomic="true" class="message d-flex justify-content-center align-items-center">-->
<!--       <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">-->

<!--        <div class="toast-body">-->
<!--          {{ message }}-->
<!--          <button type="button" class="ml-4 mb-1 close" data-dismiss="toast" aria-label="Close">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--          </button>-->
<!--        </div>-->
<!--        </div>-->
<!--  </div>-->
<!--                {% endfor %}-->
<!--        {% endif %}-->


  <!--Carousel Wrapper-->
  <div class="content">
      {% block content %}

      {% endblock %}
  </div>
  <!--Main layout-->

      <!--  BODY  -->

  <!--Footer-->
  <footer class="page-footer text-center wow fadeIn">
  <div class="footer-wrapper">
    <div class="about">
      <p class="footer-descri">L'Atelier Chenoa, création et réalisation artisanale d'objets de décoration, attrape-rêves, paniers, sets de table.
      Situé en Lozère, Occitanie.
      </p>
      <div class="contact">
        <h3>Retrouvez L'Atelier Chenoa:</h3>
        <ul>
          <li><i class="fa fa-map-marker" aria-hidden="true"></i> Mende, Occitanie</li>
          <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:0686088003" title="Téléphone">0686088003</a> </li>
          <li><i class="fa fa-envelope" aria-hidden="true"></i>
            <a href="mailto:latelierchenoa@gmail.com"title="E-mail">latelierchenoa@gmail.com</a> </li>
          <li>
                <!-- Social icons -->
            <div class="social-links">
              <a href="https://www.facebook.com/latelierchenoa" target="_new" title="Facebook L'atelier Chenoa">
                <i class="fab fa-facebook-f mr-3"></i>
              </a>
                    <a href="https://www.instagram.com/latelierchenoa/" target="_new" title="Instagram L'atelier Chenoa">
                <i class="fab fa-instagram mr-3"></i>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2020 Copyright
      <!--<a href="https://sylvainpillet.com/" target="_new" title="Portfolio">  Syl Pi </a>-->
      <a href="{% url 'shop:legals' %}" target="_new" title="Mentions légales"> Mentions Légales </a>
      <a href="{% url 'shop:cgv' %}" target="_new" title="Conditions générales de vente"> Condition générales</a>
    </div>
    <!--/.Copyright-->
  </div>
  </footer>
  <!--/.Footer-->

  <!-- SCRIPTS -->
  <!-- JQuery -->

<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#edeff5",
      "text": "#838391"
    },
    "button": {
      "background": "#4b81e8"
    }
  },
  "content": {
    "message": "Ce site utilise des cookies. ",
    "dismiss": "Ok",
    "deny": "Refuser",
    "link": "Mentions Légales",
    "href": "https://atelierchenoa.fr/legals"
  }
});
</script>
  <script type='text/javascript' src="{% static 'js/jquery-3.4.1.min.js' %}"></script>

  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
  <script type="text/javascript">
    new WOW().init();
  </script>
</body>

</html>
