{% extends "shop/base.html" %}

{% block content %}

 <div class="container about-wrapper contact-form">

    <form action="{% url  'shop:contact' %}" method="post" class="">
            <h1 class='page-title'>Contact</h1>

        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-center">
            <input type="submit" class="btn btn-primary send-mail" value="Envoyer" >
        </div>
    </form>

          {% for message in messages %}
            <p  {% if message.tags %} class=" {{ message.tags }} m-4 text-success bg-white w-50 p-1 text-center my-2 mx-auto" {% endif %}> {{ message }} </p>
         {% endfor %}
 </div>

{% endblock  %}