{% extends "shop/base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="thanks-wrapper">
    <div class="thanks">
        <h1>Echec</h1>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
           ad animi, dolores eaque error exercitationem fuga fugiat,<br>
           id labore maxime molestiae necessitatibus odit quasi
           quis repellendus soluta totam velit voluptates?</p>
            <i class="fa fa-check-square check" aria-hidden="true"></i>
        </p>
    </div>
</div>

{% endblock %}